.container {
  justify-self: center;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  background-color: pink;
  padding: 10px;
  border: 4px solid darkslateblue;
  text-align: center;
}

.One {
  grid-column: 1 / 2;
  grid-row: 1;
  background: aquamarine;
}

.Two {
  grid-column: 2 / 4;
  grid-row: 1;
  background: aquamarine;
}

.Three {
  grid-column: 1 / 3;
  grid-row: 2;
  background: aquamarine;
}

.Four {
  grid-column: 3 / 4;
  grid-row: 2;
  background: aquamarine;
}

.Five {
  grid-column: span 3;
  grid-row: 3;
  background: aquamarine;
}

/* 
    <div class="container c2"></div>
    <div class="container c3"></div>
    <div class="container c4"></div>
    <div class="container c5"></div> */
