.container {
  justify-self: center;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  background-color: pink;
  padding: 10px;
  border: 4px solid darkslateblue;
  text-align: center;
  margin-bottom: 25px;
}

.One {
  grid-column: 1 / 2;
  grid-row: 1;
  background: aquamarine;
}

.Two {
  grid-column: 2 / 4;
  grid-row: 1;
  background: aquamarine;
}

.Three {
  grid-column: 1 / 3;
  grid-row: 2;
  background: aquamarine;
}

.Four {
  grid-column: 3 / 4;
  grid-row: 2;
  background: aquamarine;
}

.Five {
  grid-column: span 3;
  grid-row: 3;
  background: aquamarine;
}

.A {
  grid-column: 1;
  grid-row: 1 / 3;
  background: aquamarine;
}

.B {
  grid-column: 2 / 4;
  grid-row: 1;
  background: aquamarine;
}

.C {
  grid-column: 2;
  grid-row: 2;
  background: aquamarine;
}

.D {
  grid-column: 3;
  grid-row: 2;
  background: aquamarine;
}

.E {
  grid-column: 1/4;
  grid-row: 3;
  background: aquamarine;
}

.A2 {
  grid-column: 1 / 3;
  grid-row: 1;
  background: aquamarine;
}

.B2 {
  grid-column: 3;
  grid-row: 1;
  background: aquamarine;
}

.C2 {
  grid-column: 1;
  grid-row: 2;
  background: aquamarine;
}

.D2 {
  grid-column: 2 / 4;
  grid-row: 2;
  background: aquamarine;
}

.E2 {
  grid-column: 1 / 3;
  grid-row: 3;
  background: aquamarine;
}

.F2 {
  grid-column: 3;
  grid-row: 3;
  background: aquamarine;
}

.A3 {
  grid-column: 1;
  grid-row: 1;
  background: aquamarine;
}

.B3 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background: aquamarine;
}

.C3 {
  grid-column: 1;
  grid-row: 2;
  background: aquamarine;
}

.D3 {
  grid-column: 1;
  grid-row: 3;
  background: aquamarine;
}

.E3 {
  grid-column: 2;
  grid-row: 3;
  background: aquamarine;
}

.F3 {
  grid-column: 3;
  grid-row: 3;
  background: aquamarine;
}

.A4 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background: aquamarine;
}

.B4 {
  grid-column: 3;
  grid-row: 1;
  background: aquamarine;
}

.C4 {
  grid-column: 3;
  grid-row: 2;
  background: aquamarine;
}

.D4 {
  grid-column: 1;
  grid-row: 3;
  background: aquamarine;
}

.E4 {
  grid-column: 2 /4;
  grid-row: 3;
  background: aquamarine;
}

/* 
    <div class="container c2"></div>
    <div class="container c3"></div>
    <div class="container c4"></div>
    <div class="container c5"></div> */
